<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- =================================================================================== -->
  <!-- ============================== PAGE CODE STARTS HERE ============================== -->
  <!-- =================================================================================== -->

  <!-- Header -->
  <%- include('partials/header.ejs'); %>


  <!-- Video Background -->
  <video autoplay muted loop id="bgVideo" class="fade-in3">
    <source src="Videos/landing1.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>


  <!-- Main content left side " Buy and sell tickets" & description text-->
  <br>
  <div class="main-content fade-in1" style = "padding-top: 5%;">
    <div class="text-area">
        <h1><strong>Buy</strong> and <strong>sell</strong> tickets.</h1>
        <p>Unlock the all-in-one platform for seamless community building, event hosting, and unforgettable memories. 
          Simplify connections and celebrations with our versatile solution, redefining the way you engage and interact effortlessly.</p>
        <button class="btn button2 btn-primary get-started fade-in3" onclick="redirectToSignIn()">Get Started</button>
        <script>
          function redirectToSignIn() {
            window.location.href = 'signIn.html';
          }
        </script>
    </div>
  </div>


  
    <!-- Footer -->
    <script src="includefooter.js"></script>

  <!-- =================================================================================== -->
  <!-- ============================== PAGE CODE ENDS HERE =============================== -->
  <!-- =================================================================================== -->


  
  <!-- Bootstrap JS (Optional, only required if you use certain Bootstrap components) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyAqB04l72T1rAlu2+nDrS4kRGCpTXwiG"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyAqB04l72T1rAlu2+nDrS4kRGCpTXwiG"
    crossorigin="anonymous"></script>
</body>
</html>
