@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
  
body {
  font-family: 'Outfit', sans-serif;
  background-color: #201F1F;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header {
  overflow: hidden;
  padding: 20px 10%;
}
  
.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-weight: 600;
}
  
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}
  
.header-right {
  float: right;
}
  
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.header .signin-register {
  background-color: #3B5CFF;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none; /* Remove underline for links */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header .signin-register:hover {
    background-color: #1e90ff; /* Darker blue on hover */
    color: white;
}

.main-content {
  display: flex;
  justify-content: space-between; /* Adjusted to create space between text and image */
  align-items: center;
  height: 60vh; 
  padding: 0 10%; /* Adjusted to create space on the sides */
  color: #ffffff;
}

.text-area {
  text-align: left;
  max-width: 600px;
  padding: 20px;
}

.text-area h1 {
  font-size: 72px;
  margin-bottom: 20px;
  font-weight: 300;
}

.text-area h1 strong {
  font-weight: 800;
}

.text-area p {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 200; 
}

.get-started {
  background-color: #3B5CFF;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-weight: 600;
}

.get-started:hover {
  background-color: #1e90ff; /* Darker blue on hover */
  color: white;
}

.side-image {
  max-width: 50%; /* Ensure the image doesn't exceed its container's width */
  height: auto; /* Maintain the image's aspect ratio */
  margin-left: 20px; /* Adjust the margin as needed */
}

.fade-in1{
  opacity: 0;
  animation: fadeInAnimation 0.5s ease-in-out forwards;
}

.fade-in2{
  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out forwards;
}

.fade-in3{
  opacity: 0;
  animation: fadeInAnimation 1.5s ease-in-out forwards;
}
.fade-in4{
  opacity: 0;
  animation: fadeInAnimation 2s ease-in-out forwards;
}
.fade-in5{
  opacity: 0;
  animation: fadeInAnimation 2.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body .event-card {
  background-color: #201F1F;
  color: #ffffff;
  transition: box-shadow 0.3s ease;
}
body .event-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.card.event-card .card-body {
  text-align: left !important;
}
.card.event-card .card-body p {
  font-weight: 200; /* Adjust the font weight (e.g., 300 for thinner) */
}
.card.event-card {
  border: none !important; /* Remove the border */
}
.card.event-card .card-img-top {
  border-radius: 20px; /* Adjust the border-radius to control the roundness */
  max-height: 150px;
  object-fit: cover;
}
.left-text {
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 40px;
}
